version: "2.1"
services:
#   upstream:
#     build: .
#     image: sleuth-test
#     environment:
#       - APP_NAME=upstream
#       - PORT=8081
#       - DOWNSTREAM=http://localhost:8082


# # -------------------------------------------
# # Microservices
# # -------------------------------------------
#   # upstream:
#   #   image: sleuth-test
#   #   network_mode: host
#   #   environment:
#   #     - spring.application.name=upstream
#   #     - server.port=8081
#   #     - downstream.server.url=http://localhost:8082
#   middle:
#     image: sleuth-test
#     network_mode: host
#     environment:
#       - APP_NAME=middle
#       - PORT=8082
#       - DOWNSTREAM=http://localhost:8083
#   downstream:
#     image: sleuth-test
#     network_mode: host
#     environment:
#       - APP_NAME=downstream
#       - PORT=8083
# -------------------------------------------
# Logging infrastructure
# -------------------------------------------
# To run elasticsearch you must run
# > sudo sysctl -w vm.max_map_count=262144
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.2.2
   # image: elasticsearch
 #   network_mode: host
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
     # - ELASTIC_PASSWORD=password
    #   - vm.max_map_count=262144
  # The following will store es data in your boot2docker vm
    volumes:
      - /usr/share/elasticsearch
      # - /bg-logs/es:/usr/share/elasticsearch/data
    #mem_limit: 2G
    ports:
      - 9200:9200
    depends_on:
      - kafka

  # Accessible at http://localhost:5601
  kibana:
    image: docker.elastic.co/kibana/kibana:6.2.2
 #   #image: kibana
 #   network_mode: host
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - elasticsearch.username=elastic
  #    - elasticsearch.password=password
    # mem_limit: 200m
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch

 # logstash:
 #   image: docker.elastic.co/logstash/logstash:6.2.2
 #   network_mode: host
 #   volumes:
 #     - ./logstash/pipeline:/usr/share/logstash/pipeline/
 #   environment:
 #     - xpack.monitoring.elasticsearch.url=http://localhost:9200
 #     - xpack.monitoring.elasticsearch.username=elastic
 #     - xpack.monitoring.elasticsearch.password=password
# services:
#   # Run Elasticsearch instead of MySQL
#   storage:
#     image: openzipkin/zipkin-elasticsearch
#     container_name: elasticsearch

  # Switch storage type to Elasticsearch
  # Accessible at http://localhost:9411/zipkin/
  zipkin:
    image: openzipkin/zipkin
 #   network_mode: host
    environment:
      - STORAGE_TYPE=elasticsearch
      # Point the zipkin at the storage backend
      - "ES_HOSTS=http://elasticsearch:9200"
      - "KAFKA_BOOTSTRAP_SERVERS=kafka:9092"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9411:9411
    depends_on:
      - elasticsearch

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - 22181:2181

  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - 29092:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'false'

