  version: '3.7'

  services:
   zipkin:
      image: openzipkin/zipkin
      container_name: zipkin
      environment:
        - storage_type=elasticsearch
        - "es_hosts=localhost:9200"
        - "ES_INDEX=zipkin"
        - "ES_EXPERIMENTAL_SPAN2=true"
        - "ZIPKIN_LOG_LEVEL=DEBUG"
      ports:
        - 9411:9411


    #dependencies:
    #  image: openzipkin/zipkin-dependencies
    #  container_name: dependencies
    #  entrypoint: crond -f
    #  depends_on:
    #    - storage
    #  environment:
    #  - storage_type=elasticsearch
    #  - "es_hosts=elasticsearch:9300"
    #  - "es_nodes_wan_only=true"

    #prometheus:
    #  image: prom/prometheus:latest
    #  container_name: prometheus
    #  volumes:
    #    - $pwd/prometheus:/etc/prometheus/
    #    - /tmp/prometheus:/prometheus/data:rw
    #  command:
    #  - '--config.file=/etc/prometheus/prometheus.yml'
    #  - '--storage.tsdb.path=/prometheus'
    #  - '--web.console.libraries=/usr/share/prometheus/console_libraries'
    #  - '--web.console.templates=/usr/share/prometheus/consoles'
    #  ports:
    #    - "9090:9090"

    #grafana:
    #  image: grafana/grafana
    #  container_name: grafana
    #  depends_on:
    #    - prometheus
    #  ports:
    #    - "3000:3000"

  #volumes:
  #    esdata1:
  #      driver: local
      #esdata2:
      #  driver: local

  #networks:
  #    esnet: